.loginPage {
  background: linear-gradient(90deg, #00050c 0%, #05141f 26%, #00050c 100%);
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
