/* Table.css */
.table-responsive {
  /* overflow-x: scroll; */
}

.tableStyle {
  border-collapse: collapse;
  min-width: 100%;
  color: #fff;
}

.thStyle {
  font-size: 0.8rem;
  background:#7B548D;
  font-weight: bold;
  padding: 8px 16px;
  text-align: left;
}

.tdStyle {
  padding: 8px 16px;
  border-bottom: 1px solid #9c9c9c;
  font-size: 0.8rem;
}

/* Media query for responsiveness */

/* @media (max-width: 390px) {
  .tableStyle {
    font-size: 10px;
  }

  .tdStyle,
  .thStyle {
    padding: 6px 4px;
    font-size: 8.8px;
  }

  .image {
    width: 0.8rem;
  }

  .UserImage {
    width: 1.3rem;
  }
} */
