.wallet {
  width: 100%;
  background: linear-gradient(
    114.51deg,
    #29013f -0.17%,
    rgba(60, 22, 82, 0.53) 129.2%
  );
  border-radius: 8px;
  border: 1px solid #ce3dd8;
  padding: 1rem;
}

.walletContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  font-size: 0.8rem;
}


.wallet > *+*{
    margin-top: 1rem;
}