@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.section {
  background-color: #29013f;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

.sectionContainer {
  padding-top: 3rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.inputContainer {
  width: 100%;
  background: rgba(123, 84, 141, 0.6);
  border: 1px solid #1e1e1e;
  border-radius: 9px;
  color: #fff;
  padding: 0.5rem;
}

.input {
  outline: none;
  color: #fff;
  background: transparent;
}

.btn {
  width: 148px;
  padding: 0.6rem;
  color: #3d0752;
  font-weight: 600;
  background: #c8a2d6;
  border-radius: 9px;
}